<script type="text/x-template" id="alta-template">

    <div>
        <section class="m-4"> 

            <div class="container">
                
                <b-row class="m-4" >
                    <h2>Alta de Expedientes</h2>
                    <p>
                    Módulo creado con el fin de registrar los futuros Clientes, los cuales requieren un prestamo. Se realiza el registro de sus datos personales
                    así como también recabar información personal, el sistema es encargado de almacenar los documentos 
                    presentados por el futuro cliente para realizar la evaluación si es apto para el prestamo. 
                    </p>
                    <p>
                    El módulo se crea para agilizar el trámite de esta manera el proceso del crédito al cliente 
                    se hace más rápido y eficiente.    
                    </p>
                    <p>
                    La tecnología que se utilizo para realizar el módulo en el Frontend se hizo uso de las librerías Vue Js y Boostrap Vue Js, al igual también 
                    HTML 5 y CSS 3. En el Backend se hizo uso de PHP, la base de datos My SQL. 
                    </p>

                    <p>
                    A continuación se muestra unas imágenes:
                    </p>
            
                </b-row>

                <b-row class="justify-content-md-center m-4">

                    <b-carousel
                        id="carousel-1"
                        v-model="slide"
                        :interval="4000"
                        controls
                        indicators
                        background="#ffffff"
                        img-width="900"
                        img-height="900"
                        style="text-shadow: 1px 1px 2px #333;"
                        @sliding-start="onSlideStart"
                        @sliding-end="onSlideEnd">
                        
                        <b-carousel-slide>
                    
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/alta1.png"
                                alt="alta1">
            
                        </b-carousel-slide>
            
                        <b-carousel-slide>
                
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/alta6.png"
                                alt="alta2">
                        </b-carousel-slide>

                        <b-carousel-slide>
            
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/alta7.png"
                                alt="alta3">
                
                        </b-carousel-slide>
                        
                        <b-carousel-slide>
            
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/alta5.png"
                                alt="alta4">

                        </b-carousel-slide>
            
                    </b-carousel>
                </b-row>

               
                <b-row class="m-4">
                    <b-col>
                        <router-link class="btn btn-success mt-4" to="/cobranza">Atrás</router-link>
                    </b-col>
                    <b-col>
                        <router-link class="btn btn-success mt-4 float-right" to="/calixe2">Siguiente</router-link>
                    </b-col>   
                </b-row>


            </div>
   
        </section>
    
    </div>
  
</script>