<script type="text/x-template" id="calixe2-template">

    <div>
        <section class="m-4"> 

            <div class="container">
                
                <b-row class="m-4">
                    <h2>Calixe 2.0</h2>
                    <p>
                        Reeconstrucción del sitio web. Implementación de Boostrap, datatables, pusher.
                    </p>
                    <p>
                        Se hizo un cambio en la interfaz, modificando el HTML4 por HTML5. Las tablas para mostrar la actividades
                        se implemento Datatables para darle mejor usabilidad al usuario. Se crearon notificaciones utilizando la librería pusher.
                        Se implementaron modal para facilitar muchas funcionalidades al usuario.   
                    </p>
                   
                    <P>
                        A continuación se muestran un conjunto de imágenes del sitio actualizado:
                    </P>
            
                </b-row>

                <b-row class="m-4">
                    <b-carousel
                        id="carousel-1"
                        v-model="slide"
                        :interval="4000"
                        controls
                        indicators
                        background="#ffffff"
                        img-width="900"
                        img-height="900"
                        style="text-shadow: 1px 1px 2px #333;"
                        @sliding-start="onSlideStart"
                        @sliding-end="onSlideEnd">
                        
                        <b-carousel-slide>
                
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/actualiza1.png"
                                alt="alta2">
                        </b-carousel-slide>

                        <b-carousel-slide>
            
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/actualiza2.png"
                                alt="alta3">
                
                        </b-carousel-slide>

                        <b-carousel-slide>
            
                                <img
                                    slot="img"
                                    width="100%"
                                    height="900px"
                                    src="/images/actualiza3.png"
                                    alt="alta3">
                    
                        </b-carousel-slide>

                        <b-carousel-slide>
            
                                <img
                                    slot="img"
                                    width="100%"
                                    height="900px"
                                    src="/images/actualiza4.png"
                                    alt="alta3">
                    
                        </b-carousel-slide>
                        
                    </b-carousel>

                </b-row>    

                <b-row class="m-4"> 
                    <P>
                        A continuación se agregan un conjunto de imágenes del sitio anterior:
                    </P>
                
                </b-row>

                <b-row class="m-4">

                    <b-carousel
                        id="carousel-1"
                        v-model="slide"
                        :interval="4000"
                        controls
                        indicators
                        background="#ffffff"
                        img-width="900"
                        img-height="900"
                        style="text-shadow: 1px 1px 2px #333;"
                        @sliding-start="onSlideStart"
                        @sliding-end="onSlideEnd">
                        
                        <b-carousel-slide>
                    
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/actualiza1.1.png"
                                alt="alta1">
            
                        </b-carousel-slide>
            
                        <b-carousel-slide>
                
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/actualiza1.2.png"
                                alt="alta2">
                        </b-carousel-slide>

                        <b-carousel-slide>
            
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/actualiza1.3.png"
                                alt="alta3">
                
                        </b-carousel-slide>

                        <b-carousel-slide>
            
                                <img
                                    slot="img"
                                    width="100%"
                                    height="900px"
                                    src="/images/actualiza1.4.png"
                                    alt="alta3">
                    
                        </b-carousel-slide>

                        
                    </b-carousel>
                </b-row>
                <b-row class="m-4">
                        <router-link class="btn btn-success mt-4 float-left" to="/expediente">Atrás</router-link>
                        <router-link class="btn btn-success mt-4 float-right" to="/ventas">Siguiente</router-link>
                </b-row>    

            </div>
   
        </section>
    
    </div>
  
</script>