<script type="text/x-template" id="cobranza-template">

    <div>
        <section class="m-4"> 

            <div class="container">
                
                <b-row class="m-4">
                    <h2>App Cobranza</h2>
                    <p>
                    Aplicación desarrollada para realizar seguimiento a los clientes con deudas. El usuario relizaba visitas y agregaba registro 
                    sobre promesas o cobros de la deuda. Cada visita se registraba la localización, ya que en el sitio web se tenía un mapa para revisar 
                    que los Usuario hayan hecho las visitas pertinentes.
                    </p>
                    <p>
                    La App es para los dispositivos Android. El lenguaje de programación utilizado fue Java. Los Web Services fueron creados en PHP.
                    La base de datos del sistema es My SQL. Se hizo uso de SQLite para almacenar los datos en el dispositivo e implementar el patrón repositorio
                    Ya que una de las prinicipales funcionalidades de la App es que funcionará OFFLINE. En el sitio web se hizo uso de Google maps para registrar las visitas
                    de los Usuarios de los Clientes.
                    </p>
                    <p>
                    A continuación se muestran imágenes de la App:
                    </p>
            
                </b-row>

                <b-row class="m-4">

                    <b-carousel
                        id="carousel-1"
                        v-model="slide"
                        :interval="4000"
                        controls
                        indicators
                        background="#ffffff"
                        img-width="900"
                        img-height="900"
                        style="text-shadow: 1px 1px 2px #333;"
                        @sliding-start="onSlideStart"
                        @sliding-end="onSlideEnd">
                        
                        <b-carousel-slide>
                    
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/cobranza1.png"
                                alt="alta1">
            
                        </b-carousel-slide>
            
                        <b-carousel-slide>
                
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/cobranza2.png"
                                alt="alta2">
                        </b-carousel-slide>

                        <b-carousel-slide>
            
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/cobranza3.png"
                                alt="alta3">
                
                        </b-carousel-slide>
                        
                    </b-carousel>

                </b-row>

                <b-row class="m-4">
                    <p>
                        Se muestran imágenes del sitio web:
                    </p>    
                </b-row>

                <b-row class="m-4">

                    <b-carousel
                        id="carousel-1"
                        v-model="slide"
                        :interval="4000"
                        controls
                        indicators
                        background="#ffffff"
                        img-width="900"
                        img-height="900"
                        style="text-shadow: 1px 1px 2px #333;"
                        @sliding-start="onSlideStart"
                        @sliding-end="onSlideEnd">
                        
                        <b-carousel-slide>
                    
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/geo1.png"
                                alt="alta1">
            
                        </b-carousel-slide>
            
                        <b-carousel-slide>
                
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/geo2.png"
                                alt="alta2">
                        </b-carousel-slide>

                        <b-carousel-slide>
            
                            <img
                                slot="img"
                                width="100%"
                                height="900px"
                                src="/images/geo3.png"
                                alt="alta3">
                
                        </b-carousel-slide>

                        <b-carousel-slide>
            
                                <img
                                    slot="img"
                                    width="100%"
                                    height="900px"
                                    src="/images/geo4.png"
                                    alt="alta3">
                    
                        </b-carousel-slide>

                        <b-carousel-slide>
            
                                <img
                                    slot="img"
                                    width="100%"
                                    height="900px"
                                    src="/images/geo5.png"
                                    alt="alta3">
                    
                        </b-carousel-slide>
                        
                    </b-carousel>
                </b-row>
                <b-row class="m-4">
                        <router-link class="btn btn-success mt-4 float-left" to="/calixe">Atrás</router-link>
                        <router-link class="btn btn-success mt-4 float-right" to="/alta">Siguiente</router-link>
                </b-row>
            </div>
        </section>
    
    </div>
  
</script>