

<script type="text/x-template" id="contact-template">
  <div class="container">
  <b-button variant="success" v-b-modal.modal-1 >CONTACT US ></b-button>
        
  <b-modal id="modal-1" title="CONTACT US">
    
 

  <p>
  Thank you for visiting our website. TF Construction, Inc. provides drywall and luxury vinyl tile flooring installation services in the Omaha, Nebraska area. 
  </p>

  <p>
  Please use the form on this page to email us.
  </p>

    <form ref="form">
        <b-form-group
         
          label="Name"
          label-for="name-input"
          invalid-feedback="Name is required"
        >
          <b-form-input
            id="name-input"
            v-model="name"
            required>
            </b-form-input>
        </b-form-group>
      </form>

  </b-modal>
</div>
</script>

