<script type="text/x-template" id="correo-template">

    <div>
        <section class="m-4"> 

            <div class="container">
                
                <b-row >
                    <h2>Crear Actividades mediante el Correo</h2>
                    <p>
                        Módulo para crear una actividad en el sistema mediante el Correo electrónico.
                    </p>
                    <p>
                        La funcionalidad de dicho módulo es simple se envía un correo a un e-mail específico. El servidor se tiene un cronjob
                        ejecutándose cada 5 minutos, el cual verífica si hay un nuevo correo, cuando detecta que hay un nuevo correo
                        se crea una actividad en el sistema.    
                    </p>
                   
                    <P>
                        A continuación se muestra una imagen del módulo:
                    </P>
            
                </b-row>

                <b-row class="m-4"> 
                    <b-col>
                        <b-img thumbnail fluid src="/images/correo1.png" width="1200" alt="Image 3"></b-img>
                    </b-col>
                </b-row>
                <b-row class="m-4">
                        <router-link class="btn btn-success mt-4 float-left" to="/tablero">Atrás</router-link>
                        <router-link class="btn btn-success mt-4 float-right" to="/expediente">Siguiente</router-link>
                </b-row>
            </div>
   
        </section>
    
    </div>
  
</script>