<script type="text/x-template" id="description-template">
    
    <div>
        <section class="m-4"> 

        <div class="container">

                <b-row cols="8">
            <h2>App Expedientes</h2>

        <ul class="list-unstyled">
            <b-media tag="li">
              <template v-slot:aside>
                <b-img src="/images/attendo1.png" width="200" alt="placeholder"></b-img>
              </template>
              <h5 class="mt-0 mb-1">List-based media object</h5>
              <p class="mb-0">
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc
                ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </p>
            </b-media>
        
            <b-media tag="li" class="my-4">
              <template v-slot:aside>
               <b-img src="/images/attendo2.png" width="200" alt="placeholder"></b-img>
              </template>
        
              <h5 class="mt-0 mb-1">List-based media object</h5>
              <p class="mb-0">
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc
                ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </p>
            </b-media>
        
            <b-media tag="li">
              <template v-slot:aside>
                <b-img src="/images/attendo3.png" width="200" alt="placeholder"></b-img>
              </template>
        
              <h5 class="mt-0 mb-1">List-based media object</h5>
              <p class="mb-0">
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc
                ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </p>
            </b-media>
          </ul>
        </b-row>
        <b-row cols="4">
            <b-card border-variant="light" header="Habilidades" class="text-center">
                <b-card-text>
                    <ul>
                        <li> 
                        <span class="badge badge-pill badge-primary">Android</span></li>
                          <li><span class="badge badge-pill badge-primary">Java</span></li>
                          <li><span class="badge badge-pill badge-primary">API-Dropbox</span></li>
                          <li><span class="badge badge-pill badge-primary">SQLite</span></li>
                          <li><span class="badge badge-pill badge-primary">MySQL</span></li> 
                    </ul>


                </b-card-text>
            </b-card>
        </b-row>


        </div>

      
    </section>
       
    </div>
  
  </script>