<script type="text/x-template" id="description-template">
    
    <div>
        
        <b-card no-body>
            <b-tabs v-model="tabIndex" pills card vertical>
                <b-tab>
                    <template slot="title">
                        <i class="ni ni-mobile-button"></i> App Attendo Expedientes
                    </template>
                    App Attendo Expedientes
                </b-tab>
                <b-tab title="App Calixe">
                    <template slot="title">
                        <i class="ni ni-mobile-button"></i> App Calixe
                    </template>
                    App Calixe
                </b-tab>
                <b-tab title="App Cobranza Autofin">
                    <template slot="title">
                        <i class="ni ni-mobile-button"></i> App Cobranza Autofin
                    </template>
                    App Cobranza Autofin
                </b-tab>
                <b-tab title="Alta de Expedientes Attendo" >
                    <template slot="title">
                        <i class="ni ni-laptop"></i> Alta de Expedientes Attendo
                    </template>
                    Alta de Expedientes Attendo
                </b-tab>
                <b-tab title="Evolución Calixe 2.0" >
                    <template slot="title">
                        <i class="ni ni-laptop"></i> Evolución Calixe 2.0
                    </template>
                    Evolución Calixe 2.0
                </b-tab>
                <b-tab title="Evolución Módulo Ventas" >
                    <template slot="title">
                        <i class="ni ni-laptop"></i> Evolución Módulo Ventas
                    </template>
                    Evolución Módulo Ventas
                </b-tab>
                <b-tab title="Módulo Daños" >
                    <template slot="title">
                        <i class="ni ni-laptop"></i> Módulo Daños
                    </template>
                    Módulo Daños
                </b-tab>
                <b-tab title="Módulo Tablero">
                    <template slot="title">
                        <i class="ni ni-laptop"></i> Módulo Tablero
                    </template>
                    Módulo Tablero
                </b-tab>
                <b-tab title="Crear actividades desde Correo" >
                    <template slot="title">
                        <i class="ni ni-laptop"></i> Crear actividades desde Correo
                    </template>
                    Crear actividades desde Correo
                </b-tab>
            </b-tabs>
        </b-card>
       
    </div>
  
  </script>