<b-navbar toggleable="lg" type="dark" variant="primary">
<footer class="page-footer font-small">
       
    <div class="footer-copyright text-center py-3">
        Copyright © 2019 TF Construction, Inc., all rights reserved.
        <b-link class="text-white" href="https://www.google.com/maps/place/5311+N+25th+Ave,+Omaha,+NE+68111,+EE.+UU./@41.3070983,-95.9500813,18z/data=!4m5!3m4!1s0x879391c8326113e1:0xb6da76dede827e16!8m2!3d41.3071114!4d-95.9490833">5311 North 25th Avenue
        Omaha, NE 68111 </b-link><b-link class="text-white" href="tel:+4027300905">(402) 730-0905</b-link>
    </div>
             
</footer>
</b-navbar>