<script type="text/x-template" id="home-template">

  <diV>
    <div>
      <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ffffff"
      img-width="1200"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
     
        img-src="../images/ceiling.jpg"
      >
      <h2 class="text-sm-left">Is There a Hole in Your Drywall?</h2>
      <p class="text-sm-left">Find a Drywall Repair Company in Omaha, SERVICES TODAY</p>
      <b-button variant='primary' v-b-modal.modal-1>Contact Us</b-button>
      </b-carousel-slide>

      <b-carousel-slide
      
        img-src="../images/drywall.jpg"
      >

      <h2 class="text-sm-left">Is There a Hole in Your Drywall?</h2>

      <p class="text-sm-left">Find a Drywall Repair Company in Omaha, SERVICES TODAY</p>

      <b-button variant='primary' v-b-modal.modal-1>Contact Us</b-button>
      </b-carousel-slide>

    </b-carousel>
  </div>


        
        <b-modal id="modal-1" title="CONTACT US">
          
       
      
            <b-container>

                <b-row>
                <h2>Contact Us</h2>
                <p>
                  Thank you for visiting our website. TF Construction, Inc. provides drywall and luxury vinyl tile flooring installation services in the Omaha, Nebraska area. 
                </p>
                <p>
                  Please use the form on this page to email us.
                </p>
                </b-row>
              
                <b-row>
                  <b-col cols="12" sm="12" lg="6">
                    <form ref="form">
                      <b-form-group
                           
                        label="Name"
                            label-for="name-input"
                            invalid-feedback="Name is required"
                          >
                            <b-form-input
                              id="name-input"
                              
                              required>
                              </b-form-input>
                          </b-form-group>
                          <b-form-group
                            label="Phone Number">
                            <b-form-input
                              id="phone"
                              >
                            </b-form-input>
                          </b-form-group>
                          <b-form-group
                          label="Email">
                          <b-form-input
                            id="email"
                            >
                          </b-form-input>
                        </b-form-group>
                        <b-form-textarea
                          id="message"
                          
                          placeholder="Your Message"
                          rows="3"
                          max-rows="6"
                        ></b-form-textarea><br>
                        <b-button-group>
                          <b-button type="submit" variant="primary">Submit</b-button>
                        </b-button-group>
                      </form>
            
                  </b-col><br>
                  <b-col cols="12" sm="12" lg="6">
            
                      <h3>Our Location</h3>
                      <strong>Address: </strong><span>Omaha, NE 68111</span> 
                      <strong>Call us: </strong><span>(402) 730-0905</span> 
                      <h3>Hours of Service</h3>
                      <strong>Monday to Friday: </strong><span>7 AM - 7 PM</span> 
                      <strong>Saturday: </strong><span>Closed</span><strong>Sunday: </strong><span>Closed</span> 
                      <br>
                      <br>
                      <br>
            
            
                  </b-col>
                </b-row>
                          
                    
                         
            
              
                    
            
              </b-container>
      
        </b-modal>
        
        <b-jumbotron bg-variant="primary" text-variant="white" border-variant="dark">
            <template slot="header">TF Construction Inc</template>
        
            <template slot="lead">
                At TF Construction of Lincoln, NE we are offering the finest in craftsmanship and quality. When it comes to professionalism and customer service, we are unmatched in the region.
            </template>
        
            <hr class="my-4">
        
            <p>
                NEED TO INSTALL NEW DRYWALL OR FLOORING? GET DRYWALL REPAIR AND INSTALLATION SERVICES IN OMAHA, NEBRASKA.
            </p>
          </b-jumbotron>
        <b-container >
       
        <b-row>
          <b-col cols="7" sm="7">
              <b-card-group deck>
                  <b-card no-body header="Service Area">
                    <b-list-group flush>
                      <b-list-group-item href="#">Omaha</b-list-group-item>
                      <b-list-group-item href="#">Bellevue</b-list-group-item>
                      <b-list-group-item href="#">Papillion</b-list-group-item>
                      <b-list-group-item href="#">La Vista</b-list-group-item>
                      <b-list-group-item href="#">Saint Columbans</b-list-group-item>
                      <b-list-group-item href="#">Springfield</b-list-group-item>
                      <b-list-group-item href="#">Bennington</b-list-group-item>
                      <b-list-group-item href="#">Waterloo</b-list-group-item>
                      <b-list-group-item href="#">Valley</b-list-group-item>
                    </b-list-group>
                
                    <p class="card-text mt-2">
                      
                    </p>
                  </b-card>
                
                  <b-card no-body header="Quick Facts">
                    <b-list-group flush>
                      <b-list-group-item href="#">Business Hours (Please call to confirm)</b-list-group-item>
                      <b-list-group-item href="#">Free Estimates</b-list-group-item>
                      <b-list-group-item href="#">Bilingual</b-list-group-item>
                    </b-list-group>
                
                    <b-card-body>
             
                    </b-card-body>
                  </b-card>

                  <b-card no-body header="Services Offered">
                      <b-list-group flush>
                        <b-list-group-item href="#">Ceilings</b-list-group-item>
                        <b-list-group-item href="#">Drywall & Plaster</b-list-group-item>
                        <b-list-group-item href="#">Laminate Flooring</b-list-group-item>
                      </b-list-group>
                  
                      <b-card-body>
               
                      </b-card-body>
                    </b-card>

                    <b-card no-body header="Areas of Expertise">
                        <b-list-group flush>
                          <b-list-group-item href="#">Drywall, framing, additions and remodels</b-list-group-item>
                          <b-list-group-item href="#">Acoustical ceilings</b-list-group-item>
                          <b-list-group-item href="#">Framing - small jobs</b-list-group-item>
                        </b-list-group>
                    
                        <b-card-body>
                 
                        </b-card-body>
                      </b-card>
                </b-card-group>
          </b-col>

          <b-col cols="5" sm="5">

              <b-carousel
              id="carousel-1"
              v-model="slide1"
              :interval="4000"
              controls
              indicators
              background="#ffffff"
              img-width="180"
              img-height="170"
              style="text-shadow: 1px 1px 2px #333;"
              @sliding-start="onSlideStart1"
              @sliding-end="onSlideEnd1"
            >
              
           
        
              <b-carousel-slide
            
                img-src="https://www.homeadvisor.com/images/sp-badges/elite.png"
              >
        
              </b-carousel-slide>

              <b-carousel-slide
            
              img-src="https://www.homeadvisor.com/images/sp-badges/soap.png"
            >
      
            </b-carousel-slide>
            <b-carousel-slide
            
            img-src="https://www.homeadvisor.com/images/sp-badges/3year.png"
          >
    
          </b-carousel-slide>
          <b-carousel-slide
            
          img-src="https://www.homeadvisor.com/images/sp-badges/boha-2019.png"
        >
  
        </b-carousel-slide>
        <b-carousel-slide
            
        img-src="https://www.homeadvisor.com/images/sp-badges/100reviews.png"
      >

      </b-carousel-slide>
        
            </b-carousel>
        
<br>
              <div class="d-flex justify-content-center">
                <b-img src="../images/omaha.png" fluid alt="Responsive image"></b-img>
              </div><br>
             
              <div class="d-flex justify-content-center">
                <b-link href="https://www.homeadvisor.com/rated.TFConstruction.36331278.html"><b-img src="https://www.homeadvisor.com/images/sp-badges/3year.png" fluid alt="Responsive image"></b-img></b-link>
              </div>
          </b-col>
          
        </b-row>

      </b-container>
      <br><br><br>
      </div>
      
</script>