<script type="text/x-template" id="home-template">

  <diV>
      <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="250"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
        caption="Is There a Hole in Your Drywall?"
        text="Find a Drywall Repair Company in Omaha, NE
        SCHEDULE DRYWALL OR VINYL FLOORING INSTALLATION SERVICES TODAY
        "
        img-src="../images/ceiling.jpg"
      >
      
      <b-button variant="primary" v-b-modal.modal-1>Contact Us</b-button>
      </b-carousel-slide>

      <b-carousel-slide
      caption="Is There a Hole in Your Drywall?"
      text="Find a Drywall Repair Company in Omaha, NE
      SCHEDULE DRYWALL OR VINYL FLOORING INSTALLATION SERVICES TODAY
      "
        img-src="../images/drywall.jpg"
      >

        <b-button variant="primary" v-b-modal.modal-1>Contact Us</b-button>
      </b-carousel-slide>

    </b-carousel>



        
        <b-modal id="modal-1" title="CONTACT US">
          
       
      
        <p>
        Thank you for visiting our website. TF Construction, Inc. provides drywall and luxury vinyl tile flooring installation services in the Omaha, Nebraska area. 
        </p>
      
        <p>
        Please use the form on this page to email us.
        </p>
      
          <form ref="form">
              <b-form-group
               
                label="Name"
                label-for="name-input"
                invalid-feedback="Name is required"
              >
                <b-form-input
                  id="name-input"
                  v-model="name"
                  required>
                  </b-form-input>
              </b-form-group>
            </form>
      
        </b-modal>
        
        <b-jumbotron bg-variant="primary" text-variant="white" border-variant="dark">
            <template slot="header">TF Construction Inc</template>
        
            <template slot="lead">
                At TF Construction of Lincoln, NE we are offering the finest in craftsmanship and quality. When it comes to professionalism and customer service, we are unmatched in the region.
            </template>
        
            <hr class="my-4">
        
            <p>
                NEED TO INSTALL NEW DRYWALL OR FLOORING? GET DRYWALL REPAIR AND INSTALLATION SERVICES IN OMAHA, NEBRASKA.
            </p>
          </b-jumbotron>
        <b-container >
       
        <b-row>
          <b-col cols="8">
              <b-card-group deck>
                  <b-card no-body header="Service Area">
                    <b-list-group flush>
                      <b-list-group-item href="#">Omaha</b-list-group-item>
                      <b-list-group-item href="#">Bellevue</b-list-group-item>
                      <b-list-group-item href="#">Papillion</b-list-group-item>
                      <b-list-group-item href="#">La Vista</b-list-group-item>
                      <b-list-group-item href="#">Saint Columbans</b-list-group-item>
                      <b-list-group-item href="#">Springfield</b-list-group-item>
                      <b-list-group-item href="#">Bennington</b-list-group-item>
                      <b-list-group-item href="#">Waterloo</b-list-group-item>
                      <b-list-group-item href="#">Valley</b-list-group-item>
                    </b-list-group>
                
                    <p class="card-text mt-2">
                      
                    </p>
                  </b-card>
                
                  <b-card no-body header="Quick Facts">
                    <b-list-group flush>
                      <b-list-group-item href="#">Business Hours (Please call to confirm)</b-list-group-item>
                      <b-list-group-item href="#">Free Estimates</b-list-group-item>
                      <b-list-group-item href="#">Bilingual</b-list-group-item>
                    </b-list-group>
                
                    <b-card-body>
             
                    </b-card-body>
                  </b-card>

                  <b-card no-body header="Services Offered">
                      <b-list-group flush>
                        <b-list-group-item href="#">Ceilings</b-list-group-item>
                        <b-list-group-item href="#">Drywall & Plaster</b-list-group-item>
                        <b-list-group-item href="#">Laminate Flooring</b-list-group-item>
                      </b-list-group>
                  
                      <b-card-body>
               
                      </b-card-body>
                    </b-card>

                    <b-card no-body header="Areas of Expertise">
                        <b-list-group flush>
                          <b-list-group-item href="#">Drywall, framing, additions and remodels</b-list-group-item>
                          <b-list-group-item href="#">Acoustical ceilings</b-list-group-item>
                          <b-list-group-item href="#">Framing - small jobs</b-list-group-item>
                        </b-list-group>
                    
                        <b-card-body>
                 
                        </b-card-body>
                      </b-card>
                </b-card-group>
          </b-col>

          <b-col cols="4">

              <b-carousel
              id="carousel-1"
              v-model="slide"
              :interval="4000"
              controls
              indicators
              background="#ababab"
              img-width="180"
              img-height="170"
              style="text-shadow: 1px 1px 2px #333;"
              @sliding-start="onSlideStart"
              @sliding-end="onSlideEnd"
            >
              
              <b-carousel-slide
              
                img-src="https://www.homeadvisor.com/images/sp-badges/toprated.png"
              >
              
              
              </b-carousel-slide>
        
              <b-carousel-slide
            
                img-src="https://www.homeadvisor.com/images/sp-badges/elite.png"
              >
        
              </b-carousel-slide>

              <b-carousel-slide
            
              img-src="https://www.homeadvisor.com/images/sp-badges/soap.png"
            >
      
            </b-carousel-slide>
            <b-carousel-slide
            
            img-src="https://www.homeadvisor.com/images/sp-badges/3year.png"
          >
    
          </b-carousel-slide>
          <b-carousel-slide
            
          img-src="https://www.homeadvisor.com/images/sp-badges/boha-2019.png"
        >
  
        </b-carousel-slide>
        <b-carousel-slide
            
        img-src="https://www.homeadvisor.com/images/sp-badges/100reviews.png"
      >

      </b-carousel-slide>
        
            </b-carousel>
        
<br>
              <div class="d-flex justify-content-center">
                <b-img src="../images/omaha.png" fluid alt="Responsive image"></b-img>
              </div><br>
             
              <div class="d-flex justify-content-center">
                <b-link href="https://www.homeadvisor.com/rated.TFConstruction.36331278.html"><b-img src="https://www.homeadvisor.com/images/sp-badges/3year.png" fluid alt="Responsive image"></b-img></b-link>
              </div>
          </b-col>
          
        </b-row>

      </b-container>
      <br><br><br>
      </div>
      
</script>