{% extends "layout.html" %}


{% block content %}

<div id="content">
<b-jumbotron bg-variant="info" text-variant="white" style="background-image: url(https://scontent.fntr6-2.fna.fbcdn.net/v/t1.0-9/64586873_2228875430494805_5020954100603289600_n.jpg?_nc_cat=105&_nc_ht=scontent.fntr6-2.fna&oh=04366549252d54e14a82960c97414f3e&oe=5D9101A4); background-size: 100%;">
  
  <template slot="header">Is There a Hole in Your Drywall?</template>

  <template slot="lead">
      SCHEDULE PROFESIONAL DRYWALL REPAIR SERVICES IN OMAHA,NE.
  </template>

  <b-button variant="primary" v-b-modal.modal-1 >CONTACT US ></b-button>
  
  <b-modal id="modal-1" title="CONTACT US">
    
    <form ref="form">
        <b-form-group
         
          label="Name"
          label-for="name-input"
          invalid-feedback="Name is required"
        >
          <b-form-input
            id="name-input"
            v-model="name"
            required>
            </b-form-input>
        </b-form-group>
      </form>

  </b-modal>
  
</b-jumbotron>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
      <P>NEED TO INSTALL NEW DRYWALL OR FLOORING?
      GET DRYWALL REPAIR AND INSTALLATION SERVICES IN OMAHA, NEBRASKA</p>
      <p>
      Don't worry if your drywall is scratched, dented or punctured. Our drywall repairman can fix your walls in no time. By the time our expert is done making repairs, you won't be able to tell the walls were ever damaged. Turn to TF Construction, Inc. for drywall and laminate services in the Omaha, Nebraska area. You can trust us to install laminate flooring and drywall throughout your home. We can help you choose laminate styles that will match your home perfectly.

      Call 402-730-0905 now to arrange for drywall or laminate installation services.
      </p>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> 
      Are You Embarrassed by Your Ugly Walls?
      ARRANGE FOR DRYWALL INSTALLATION OR REPAIR IN OMAHA, NE
      </h3>
      <ul>
        <li>
        Did your drywall get punctured during a sibling wrestling match? Did you scratch your walls while moving furniture? Don't worry, TF Construction, Inc. offers drywall repair and installation services in the Omaha, Nebraska area. No matter how badly damaged your wall may be, our drywall repair crew can fix it. You can trust us to repair popped-out nails, dents, holes and split joint tape in a hurry. If you need new drywall installed, we can handle that, too. 
        </li>

        <li>
        Contact us today to schedule drywall installation or repair services.
        </li>
      </ul>

      <n3>
      MAKE SURE YOU GET THE RIGHT TYPE OF DRYWALL
      </h3>
      <p>
      TF Construction takes on residential and commercial drywall installation projects in Omaha, Nebraska. Our drywall installers can help you pick out the right type of drywall to install at your home or commercial facility. 
      </p>
      <p>
      Popular types of drywall include:
      </p>

      <ul>
      <li>
        White board-used in most homes and businesses
      </li>
      <li>
      Green board-moisture-resistant
      </li>
      <li>
        Type X-fire-resistant
      </li>
      <li>
      Paperless-covered in fiberglass instead of paper
      </li>
      <li>
      Soundproof-reduces noise levels
      </li>
      </ul>
      <p>
        Reach out to us right away to get started on your drywall repair or installation project.
      </p>
    </div>
    <div class="col-md-6">
      <h3> 
      Upgrade to Laminate
      SCHEDULE LAMINATE INSTALLATION SERVICES IN OMAHA, NE
      
      </h3>
      <p>
      Choose TF Construction, Inc. for your laminate flooring installation in Omaha, Nebraska or surrounding areas. Laminate looks like natural stone or ceramic tile flooring, but it comes without the hefty price tag. We can show you samples to help you choose the perfect vinyl tiles for your space. Once you've selected the laminate you want, our flooring specialist will install them in your kitchen, bathroom or living room.

      </p>

      
      <p>
      Arrange for laminate flooring installation services by calling 402-730-0905 today. Your choices in laminate flooring are practically limitless.
      </p>

      <h3>
      CHECK OUT THE BENEFITS OF LUXURY VINYL TILE FLOORING
      </h3>

      <p>
      Hire TF Construction for laminate installation services in the Omaha, Nebraska area. Laminate flooring is:
      </p>
      <ul>
        <li>Affordable</li>
        <li>Durable</li>
         <li>Environmentally friendly</li>
        <li>Easy to maintain</li>
        <li>Available in a wide variety of colors, textures and styles</li>
      </ul>
      <p>
Contact us today to schedule your high-end laminate flooring installation.
      </p>
      <h3>
      Reduce the Noise Level at Your House
INSTALL AN ACOUSTIC CEILING IN YOUR OMAHA, NE HOME
      
      </h3>
      <p>
      Acoustic panels are a great choice for living rooms, basements and home theaters. They serve to reduce noise levels in any room. Trust TF Construction, Inc. to install your acoustic ceiling and panels in the Omaha, NE area. 

      </p>
      <p>
If you're tired of listening to your neighbor's rock band or you want to improve the acoustics of your home, you should consider installing an acoustic ceiling. Hire us to install ceilings or acoustic panels in any room in your home to help reduce outside noise and improve insulation qualities.

      </p>
      <p>
Call 402-730-0905 today to arrange for acoustic ceiling installation services.
      </p>

      <h3>
      WANT BETTER ENERGY EFFICIENCY?
      </h3>

      <p>
TF Construction installs acoustic ceilings in Omaha, Nebraska and surrounding areas. Acoustic ceilings can:
      </p>
      <ul>
        <li>Enhance sound quality</li>
        <li>Reduce outside noise</li>
        <li>Improve energy efficiency</li>
      </ul>

      <p>
They're also easy to replace and surprisingly affordable.
      </p>

      <p>
Get in touch with us today to schedule acoustic ceiling installation services. Acoustic panels and ceilings can be installed just about anywhere.
      </p>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
   Felipe was courteous, quick to respond, and did a great job repairing our plaster ceiling!
   SARAH B. | 5 STARS

  </div>
   <div class="alert alert-info text-center" role="alert">
   Felipe was courteous, quick to respond, and did a great job repairing our plaster ceiling!
   SARAH B. | 5 STARS

  </div>
   <div class="alert alert-info text-center" role="alert">
   Felipe was courteous, quick to respond, and did a great job repairing our plaster ceiling!
   SARAH B. | 5 STARS

  </div>
   <div class="alert alert-info text-center" role="alert">
   Felipe was courteous, quick to respond, and did a great job repairing our plaster ceiling!
   SARAH B. | 5 STARS

  </div>
   <div class="alert alert-info text-center" role="alert">
   Felipe was courteous, quick to respond, and did a great job repairing our plaster ceiling!
   SARAH B. | 5 STARS

  </div>
   <div class="alert alert-info text-center" role="alert">
   Felipe was courteous, quick to respond, and did a great job repairing our plaster ceiling!
   SARAH B. | 5 STARS

  </div>
   <div class="alert alert-info text-center" role="alert">
   Felipe was courteous, quick to respond, and did a great job repairing our plaster ceiling!
   SARAH B. | 5 STARS

  </div>

  <h3>
  Find a Drywall Repair Company in Omaha, NE
SCHEDULE DRYWALL OR VINYL FLOORING INSTALLATION SERVICES TODAY
  </h3>

  <p>
  Thank you for visiting our website. TF Construction, Inc. provides drywall and luxury vinyl tile flooring installation services in the Omaha, Nebraska area. 
  </p>

  <p>
  Please use the form on this page to email us.
  </p>



</div>

</diV>

<script>

  new Vue ({
  el: '#content',
  data:{} // register the Vuex store globally
})
</script>



{% endblock %}

