<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
</head>

<body>
  <div id="app">
  {% include 'nav.html' %}
  {% include 'home.html' %}
  {% include 'proyectos.html' %}
  {% include 'perfil.html' %}
  {% include 'contacto.html' %}
  {% include 'expedientes.html' %}
  {% include 'calixe.html' %}
  {% include 'cobranza.html' %}
  {% include 'alta.html' %}
  {% include 'calixe2.html' %}
  {% include 'ventas.html' %}
  {% include 'danos.html' %}
  {% include 'tablero.html' %}
  {% include 'correo.html' %}
  

  {% include 'content.html' %}



  {% include 'footer.html' %}
  
  </div>

  <script>
    const UserSettingsNav = {
	    template: "#nav-template"
    }
const UserSettings = {
	template: `
<div class="">
  
  <UserSettingsNav/>
  <router-view class =""/>
  <router-view name="helper" class=""/>
</div>
  `,
  components: { UserSettingsNav }
}

const HOME = {
	template: "#home-template"
}

const PROYECTOS = {
	template: "#proyectos-template",
  data(){
    return { 
      app:2
    }
  }
}

const PERFIL = {
	template: "#perfil-template"
}

const CONTACTO = {
	template: "#contacto-template"
}


var data = { counter: 0 }


const EXPEDIENTES = {
  template: "#expedientes-template",
  data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
  
}

const CALIXE = {
  template: "#calixe-template",
  data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
  
}

const COBRANZA = {
  template: "#cobranza-template",
  data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
}

const ALTA = {
  template: "#alta-template",
  data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
  
}

const CALIXE2 = {
  template: "#calixe2-template",
  data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
}

const VENTAS = {
  template: "#ventas-template",
  data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
}

const DANOS = {
  template: "#danos-template",
  data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
}

const TABLERO = {
  template: "#tablero-template",
  data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
}

const CORREO = {
  template: "#correo-template",
  data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
  
}

const router = new VueRouter({
  mode: 'history',
  routes: [
    { path: '/',
      // You could also have named views at tho top
      component: UserSettings,
      children: [{
      	path: '',
        component: HOME
      }, 
      {
      	path: 'proyectos',
        component: PROYECTOS
      }, 
      {
      	path: 'perfil',
        component: PERFIL
      },  
     
      {
      	path: 'expedientes',
        component: EXPEDIENTES
      },
      {
      	path: 'calixe',
        component: CALIXE
      },
      {
      	path: 'cobranza',
        component: COBRANZA
      },
      {
      	path: 'alta',
        component: ALTA
      },
      {
      	path: 'calixe2',
        component: CALIXE2
      },
      {
      	path: 'cobranza',
        component: COBRANZA
      }, 
      {
      	path: 'danos',
        component: DANOS
      },
      {
      	path: 'tablero',
        component: TABLERO
      },
      {
      	path: 'correo',
        component: CORREO
      } ]
    }
  ]
})

router.push('/')

window.app = new Vue({
	router,
  el: '#app',
  data: {
    counter: 0,
    slide: 0,
    sliding: null,
  },
  methods: {
   
  }
})

    </script>

  
</body>
</html>
