<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
</head>

<body>
  <div id="app">
  {% include 'nav.html' %}
  {% include 'home.html' %}
  {% include 'drywall.html' %}
  {% include 'laminate.html' %}
  {% include 'acoustic.html' %}
  {% include 'reviews.html' %}
  {% include 'contact.html' %}

  {% include 'content.html' %}

 
  

  

  </div>

  <script>
    const UserSettingsNav = {
	    template: "#nav-template"
    }
const UserSettings = {
	template: `
<div class="us">
  
  <UserSettingsNav/>
  <router-view class ="us__content"/>
  <router-view name="helper" class="us__content us__content--helper"/>
</div>
  `,
  components: { UserSettingsNav }
}

const HOME = {
	template: "#home-template"
}

const DRYWALL = {
	template: "#drywall-template"
}

const LAMINATE = {
	template: "#laminate-template"
}

const ACOUSTIC = {
	template: "#acoustic-template"
}

const REVIEWS = {
	template: "#reviews-template"
}

const CONTACT = {
	template: "#contact-template"
}

const router = new VueRouter({
  mode: 'history',
  routes: [
    { path: '/',
      // You could also have named views at tho top
      component: UserSettings,
      children: [{
      	path: '',
        component: HOME
      }, 
      {
      	path: 'drywall',
        component: DRYWALL
      }, 
      {
      	path: 'laminate',
        component: LAMINATE
      }, 
      {
      	path: 'acoustic',
        component: ACOUSTIC
      }, 
      {
      	path: 'reviews',
        component: REVIEWS
      }, 
      {
      	path: 'contact',
        component: CONTACT
      } ]
    }
  ]
})

router.push('/')

window.app = new Vue({
	router,
  el: '#app'
})

    </script>
  
</body>
</html>
