<div>
  <b-navbar type="dark" variant="dark">
    <b-navbar-nav right>
   
        <b-nav-item href="#">
          HOME
        </b-nav-item>

        <b-nav-item href="#">
        
          DRYWALL
        </b-nav-item>

        <b-nav-item href="#">
       
          LAMINATE FLOORING
        </b-nav-item>

        <b-nav-item href="#">
         
          ACOUSTIC CEILING
        </b-nav-item>

        <b-nav-item href="#">
         
          REVIEWS 
        </b-nav-item>

        <b-nav-item href="#">
         
          CONTACT US 
        </b-nav-item>
      
    </b-navbar-nav>
  </b-navbar>
</div>

