<div id="app">
  <b-navbar type="dark" variant="dark">
    <b-navbar-nav align="right">
   
        <b-nav-item>
          HOME
        </b-nav-item>

        <b-nav-item>
        
          DRYWALL
        </b-nav-item>

        <b-nav-item>
       
          LAMINATE FLOORING
        </b-nav-item>

        <b-nav-item>
         
          ACOUSTIC CEILING
        </b-nav-item>

        <b-nav-item>
         
          REVIEWS 
        </b-nav-item>

        <b-nav-item>
         
          CONTACT US 
        </b-nav-item>
      
    </b-navbar-nav>
  </b-navbar>
</div>

<script>
    window.app = new Vue({
      el: '#app',
      data: {}
    })
  </script>

