<script type="text/x-template" id="proyectos-template">
 

  <div>
    <b-card-group columns>
      <b-card title="App Attendo Expedientes" img-height="450px" img-src="/images/attendo1.png" img-alt="Image" img-top>
        <b-card-text>
        Desarrollo de App Android para Attendo. Alta de expedientes de Asesores.
        </b-card-text>
        <div slot="footer"><small class="text-muted">1 Enero del 2019</small></div>
      </b-card>
  
      <b-card title="App Calixe" img-height="450px" img-src="/images/calixe1.png" img-alt="Image" img-top>
        <b-card-text>
        Desarrollo de App Calixe. Alta de Actividades y procesar actividades.
        </b-card-text>
        <div slot="footer"><small class="text-muted">1 Enero del 2018</small></div>
      </b-card>
  
      <b-card title="App Cobranza Autofin" img-height="450px" img-src="/images/cobranza1.jpg" img-alt="Image" img-top>
        <b-card-text>
        Desarrollo de App Cobranza Autofin. Alta de Visitas y promesas. 
        </b-card-text>
        <div slot="footer"><small class="text-muted">1 Enero del 2017</small></div>
      </b-card>
    
      <b-card title="Alta de Expedientes Attendo" img-height="450px" img-src="/images/alta1.png" img-alt="Image" img-top>
        <b-card-text>
          Módulo para crear expedientes y dar de alta Archivos.
        </b-card-text>
        <div slot="footer"><small class="text-muted">1 Julio del 2019</small></div>
      </b-card>
  
      <b-card title="Evolución Calixe 2.0" img-height="450px" img-src="/images/actualiza1.png" img-alt="Image" img-top>
        <b-card-text>
        Reestructuración del sistema Calixe, mejora en interfaz gráfica.
        </b-card-text>
        <div slot="footer"><small class="text-muted">1 Marzo del 2018</small></div>
      </b-card>
  
      <b-card title="Evolución Módulo Ventas " img-height="450px" img-src="/images/ventas1.png" img-alt="Image" img-top>
        <b-card-text>
        Módulo creado de forma dinámica para el seguimientos de prospectos. 
        </b-card-text>
        <div slot="footer"><small class="text-muted">1 Febrero del 2017</small></div>
      </b-card>
    
      <b-card title="Módulo Daños" img-height="450px" img-src="/images/daños1.png" img-alt="Image" img-top>
        <b-card-text>
        Implementación del módulo daños.
        </b-card-text>
        <div slot="footer"><small class="text-muted">1 Enero del 2016</small></div>
      </b-card>
  
      <b-card title="Módulo Tablero" img-height="450px" img-src="/images/tablero1.png" img-alt="Image" img-top>
        <b-card-text>
        Implementación del módulo Tablero visualización mediantes gráficas.
        </b-card-text>
        <div slot="footer"><small class="text-muted">1 Agosto del 2016</small></div>
      </b-card>
  
      <b-card title="Crear actividades desde Correo" img-height="450px" img-src="/images/correo1.png" img-alt="Image" img-top>
        <b-card-text>
        Módulo con la funcionalidad de crear actividades mediante el correo electrónico. 
        </b-card-text>
        <div slot="footer"><small class="text-muted">1 Febrero del 2019</small></div>
      </b-card>
    </b-card-group>
  </div>

</script>