<script type="text/x-template" id="proyectos-template">
 

  <div>

      <section class="m-4"> 
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div class="row row-grid">
                  <div class="col-lg-4">
                    <div class="card card-lift--hover shadow border-0">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                          <i class="ni ni-mobile-button"></i>
                        </div>
                        <h6 class="text-primary text-uppercase">App Attendo Expedientes</h6>
                        <p class="description mt-3"> Desarrollo de App Android para Attendo. Alta de expedientes de Asesores.</p>
                        <div>
                          <span class="badge badge-pill badge-primary">Android</span>
                          <span class="badge badge-pill badge-primary">Java</span>
                         
                        </div>
                        <a href="#" class="btn btn-primary mt-4">Leer más</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card card-lift--hover shadow border-0">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                          <i class="ni ni-mobile-button"></i>
                        </div>
                        <h6 class="text-primary text-uppercase">App Calixe</h6>
                        <p class="description mt-3">Desarrollo de App Calixe. Alta de Actividades y procesar actividades.</p>
                        <div>
                          <span class="badge badge-pill badge-primary">Android</span>
                          <span class="badge badge-pill badge-primary">Java</span>
              
                        </div>
                        <a href="#" class="btn btn-primary mt-4">Leer más</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card card-lift--hover shadow border-0">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                          <i class="ni ni-mobile-button"></i>
                        </div>
                        <h6 class="text-primary text-uppercase">App Cobranza Autofin</h6>
                        <p class="description mt-3">Desarrollo de App Cobranza Autofin. Alta de Visitas y promesas.</p>
                        <div>
                          <span class="badge badge-pill badge-primary">Android</span>
                          <span class="badge badge-pill badge-primary">Java</span>
                          
                        </div>
                        <a href="#" class="btn btn-primary mt-4">Leer más</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="m-4">
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                  <div class="row row-grid">
                    <div class="col-lg-4">
                      <div class="card card-lift--hover shadow border-0">
                        <div class="card-body py-5">
                          <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                            <i class="ni ni-laptop"></i>
                          </div>
                          <h6 class="text-primary text-uppercase">Alta de Expedientes Attendo</h6>
                          <p class="description mt-3"> Módulo para crear expedientes y dar de alta Archivos.</p>
                          <div>
                            <span class="badge badge-pill badge-primary">PHP</span>
                            <span class="badge badge-pill badge-primary">Jquery</span>
                           
                          </div>
                          <a href="#" class="btn btn-primary mt-4">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="card card-lift--hover shadow border-0">
                        <div class="card-body py-5">
                          <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                            <i class="ni ni-laptop"></i>
                          </div>
                          <h6 class="text-primary text-uppercase">Evolución Calixe 2.0</h6>
                          <p class="description mt-3">Reestructuración del sistema Calixe, mejora en interfaz gráfica.</p>
                          <div>
                            <span class="badge badge-pill badge-primary">PHP</span>
                            <span class="badge badge-pill badge-primary">Jquery</span>
                
                          </div>
                          <a href="#" class="btn btn-primary mt-4">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="card card-lift--hover shadow border-0">
                        <div class="card-body py-5">
                          <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                            <i class="ni ni-laptop"></i>
                          </div>
                          <h6 class="text-primary text-uppercase">Evolución Módulo Ventas</h6>
                          <p class="description mt-3">Módulo creado de forma dinámica para el seguimientos de prospectos.</p>
                          <div>
                            <span class="badge badge-pill badge-primary">PHP</span>
                            <span class="badge badge-pill badge-primary">Jquery</span>
                            
                          </div>
                          <a href="#" class="btn btn-primary mt-4">Leer más</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="m-4">
              <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-12">
                    <div class="row row-grid">
                      <div class="col-lg-4">
                        <div class="card card-lift--hover shadow border-0">
                          <div class="card-body py-5">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                              <i class="ni ni-laptop"></i>
                            </div>
                            <h6 class="text-primary text-uppercase">Módulo Daños</h6>
                            <p class="description mt-3">  Implementación del módulo daños.</p>
                            <div>
                              <span class="badge badge-pill badge-primary">Android</span>
                              <span class="badge badge-pill badge-primary">Java</span>
                             
                            </div>
                            <a href="#" class="btn btn-primary mt-4">Leer más</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="card card-lift--hover shadow border-0">
                          <div class="card-body py-5">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                              <i class="ni ni-laptop"></i>
                            </div>
                            <h6 class="text-primary text-uppercase">AMódulo Tablero</h6>
                            <p class="description mt-3"> Implementación del módulo Tablero visualización mediantes gráficas.</p>
                            <div>
                              <span class="badge badge-pill badge-primary">Android</span>
                              <span class="badge badge-pill badge-primary">Java</span>
                  
                            </div>
                            <a href="#" class="btn btn-primary mt-4">Leer más</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="card card-lift--hover shadow border-0">
                          <div class="card-body py-5">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                              <i class="ni ni-laptop"></i>
                            </div>
                            <h6 class="text-primary text-uppercase">Crear actividades desde Correo</h6>
                            <p class="description mt-3">  Módulo con la funcionalidad de crear actividades mediante el correo electrónico.</p>
                            <div>
                              <span class="badge badge-pill badge-primary">Android</span>
                              <span class="badge badge-pill badge-primary">Java</span>
                              
                            </div>
                            <a href="#" class="btn btn-primary mt-4">Leer más</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </section>



  
  </div>

</script>