<script type="text/x-template" id="reviews-template">

<div>
  <br><br>
  <b-container >
       
      <b-row>
        <b-col cols="7" sm="7">
          <h1>Reviews</h1>
          <b-button variant='primary' v-b-modal.modal-1>Contact Us</b-button>
          <br>
          <b-card-group deck class="mb-3">

              <b-card header="Project: Install Drywall">
                  <blockquote class="blockquote mb-0">
                    <p>Very high quality workmanship and done quickly.</p>
                    <footer class="blockquote-footer">
                        Review by Joan K. in Bellevue, NE
                    </footer>
                  </blockquote>
                </b-card>

                <b-card header="Project: Install Drywall">
                    <blockquote class="blockquote mb-0">
                      <p>They did a great job framing out a basement bedroom/closet and putting up the drywall. They were quick, very polite and considerate of our space, making sure not to track things through the house. The price was good and we would definitely hire them again.</p>
                      <footer class="blockquote-footer">
                          Review by Mindy M. in Papillion, NE
                      </footer>
                    </blockquote>
                  </b-card>
                </b-card-group>

                <b-card-group deck class="mb-3">
                  <b-card header="Project: Install Drywall">
                      <blockquote class="blockquote mb-0">
                        <p>They did a great job putting in a wall in my basement. Cleaned up after the job, very polite, a good price for the work.</p>
                        <footer class="blockquote-footer">
                            Review by Danielle P. in Omaha, NE
                        </footer>
                      </blockquote>
                    </b-card>

                    <b-card header="Project: Repair Plaster">
                        <blockquote class="blockquote mb-0">
                          <p>On time, professional, polite, quality workmanship. We would definitely hire TF Construction again should the need arise.</p>
                          <footer class="blockquote-footer">
                              Review by Paul C. in Omaha, NE
                          </footer>
                        </blockquote>
                      </b-card>
                    </b-card-group>
                    <b-card-group deck class="mb-3">
                      <b-card header="Project: Repair Plaster">
                          <blockquote class="blockquote mb-0">
                            <p>Timely and great job.</p>
                            <footer class="blockquote-footer">
                                Review by Urias S. in Omaha, NE
                            </footer>
                          </blockquote>
                        </b-card>

                        <b-card header="Project: Repair Drywall">
                            <blockquote class="blockquote mb-0">
                              <p>Very professional, reliable and personable.</p>
                              <footer class="blockquote-footer">
                                  Review by Sheryl Q. in Omaha, NE
                              </footer>
                            </blockquote>
                          </b-card>

                        </b-card-group>
                        <b-card-group deck class="mb-3">
                          <b-card header="Project: Repair Drywall">
                              <blockquote class="blockquote mb-0">
                                <p>TF Construction gave me the best quote and provided the best service. Excellent job done on my ceiling in both basement and garage. Thank You</p>
                                <footer class="blockquote-footer">
                                    Review by Kenneth S. in Omaha, NE
                                </footer>
                              </blockquote>
                            </b-card>


                            <b-card header="Project: Install Drywall">
                                <blockquote class="blockquote mb-0">
                                  <p>Will hire again on next drywall project. Nice folks and got it done very quickly.</p>
                                  <footer class="blockquote-footer">
                                      Review by Carol J. in Omaha, NE
                                  </footer>
                                </blockquote>
                              </b-card>

                            </b-card-group>
                            <b-card-group deck class="mb-3">
                              <b-card header="Project: Repair Drywall">
                                  <blockquote class="blockquote mb-0">
                                    <p>great work!</p>
                                    <footer class="blockquote-footer">
                                        Review by Christian M. in Omaha, NE
                                    </footer>
                                  </blockquote>
                                </b-card>


                                <b-card header="Project: Install Drywall">
                                    <blockquote class="blockquote mb-0">
                                      <p>In addition to drywall and Plaster TF Construction tiled my bathroom walls. They did an exceptional job. Looking forward to hiring them in the future. All appointments were timely. Excellent job! Thanks TF Construction for your professional expertise, courtesy and timeliness.</p>
                                      <footer class="blockquote-footer">
                                          Review by Onnie D. in Omaha, NE
                                      </footer>
                                    </blockquote>
                                  </b-card>

                                </b-card-group>




            


          


        </b-col>

        <b-col cols="5" sm="5">

          <div class="d-flex justify-content-center">
            <b-carousel
            id="carousel-1"
            v-model="slide1"
            :interval="4000"
            controls
            indicators
            background="#ffffff"
            img-width="150"
            img-height="150"
            style="text-shadow: 1px 1px 2px #333;"
            @sliding-start="onSlideStart1"
            @sliding-end="onSlideEnd1"
          >
            
         
      
            <b-carousel-slide>
      
            <img
            slot="img"
            width="150px"
            height="150px"
            src="https://www.homeadvisor.com/images/sp-badges/elite.png"
            alt="elite"
          >

            </b-carousel-slide>

            <b-carousel-slide>
    
          <img
          slot="img"
          width="150px"
          height="150px"
          src="https://www.homeadvisor.com/images/sp-badges/soap.png"
          alt="soap"
        >
          </b-carousel-slide>
          <b-carousel-slide
          
          
        >

        <img
          slot="img"
          width="150px"
          height="150px"
          src="https://www.homeadvisor.com/images/sp-badges/3year.png"
          alt="soap"
        >
  
        </b-carousel-slide>
        <b-carousel-slide
          

      >

      <img
      slot="img"
      width="150px"
      height="150px"
      src="https://www.homeadvisor.com/images/sp-badges/boha-2019.png"
      alt="boha"
    >

      </b-carousel-slide>
      <b-carousel-slide
          

    >

    <img
    slot="img"
    width="150px"
    height="150px"
    src="https://www.homeadvisor.com/images/sp-badges/100reviews.png"
    alt="reviews"
  >

    
      
    </b-carousel-slide>
      
          </b-carousel>
        </div>
      
<br>
            <div class="d-flex justify-content-center">
                <b-link href="https://www.homeadvisor.com/rated.TFConstruction.36331278.html"><b-img src="../images/omaha.png" fluid alt="Responsive image"></b-img></b-link>
            </div><br>
           
            <div class="d-flex justify-content-center">
              <b-link href="https://www.homeadvisor.com/rated.TFConstruction.36331278.html"><b-img src="https://www.homeadvisor.com/images/sp-badges/3year.png" fluid alt="Responsive image"></b-img></b-link>
            </div>
            <br>
            <b-button variant='primary' v-b-modal.modal-1>Contact Us</b-button>
        </b-col>
        
      </b-row>

    </b-container>


    <br><br><br>

    <b-modal id="modal-1" title="CONTACT US">
      
        <b-container>

            <b-row>
                <b-container>
            <h2>Contact Us</h2>
            <p>
              Thank you for visiting our website. TF Construction, Inc. provides drywall and luxury vinyl tile flooring installation services in the Omaha, Nebraska area. 
            </p>
            <p>
              Please use the form on this page to email us.
            </p>
          </b-container>
            </b-row>
          
            <b-row>
              <b-col cols="12" sm="12">
                <form ref="form">
                  <b-form-group
                       
                    label="Name"
                        label-for="name-input"
                        invalid-feedback="Name is required"
                      >
                        <b-form-input
                          id="name-input"
                          
                          required>
                          </b-form-input>
                      </b-form-group>
                      <b-form-group
                        label="Phone Number">
                        <b-form-input
                          id="phone"
                          >
                        </b-form-input>
                      </b-form-group>
                      <b-form-group
                      label="Email">
                      <b-form-input
                        id="email"
                        >
                      </b-form-input>
                    </b-form-group>
                    <b-form-textarea
                      id="message"
                      
                      placeholder="Your Message"
                      rows="3"
                      max-rows="6"
                    ></b-form-textarea><br>
                    <b-button-group>
                      <b-button type="submit" variant="primary">Submit</b-button>
                    </b-button-group>
                  </form>
        
              </b-col>
            </b-row>
          
              <b-col cols="12" sm="12">
                <div>
                  <br>
                  <h3>Our Location</h3>
                  <strong>Address: </strong><span>Omaha, NE 68111</span> 
                  <strong>Call us: </strong><span>(402) 730-0905</span> 
                  <h3>Hours of Service</h3>
                  <strong>Monday to Friday: </strong><span>7 AM - 7 PM</span> 
                  <strong>Saturday: </strong><span>Closed</span><strong>Sunday: </strong><span>Closed</span> 
                  <br>
                  <br>
                  <br>
                </div>
        
        
              </b-col>
            </b-row>
                      
                
                     
        
          
                
        
          </b-container>
  
    </b-modal>

  </div>


</script>