<script type="text/x-template" id="tablero-template">
    
    <div>
        <section class="m-4"> 

            <div class="container">
               

                <b-row class="m-4">
                    <h2>Tablero</h2>
                    <p>
                        Módulo creado para visualizar determinada información por medio de gráficas. 
                    </p>
                    <p>
                    Se utilizo Jquery e Jquery UI. Las gráficas se realizaron mediante highcharts.
                    </p>
                    <p>
                    A continuación se presenta una imagen: 
                    </p>

                </b-row>

                <b-row class="m-4"> 
                    <b-col>
                        <b-img thumbnail fluid src="/images/tablero1.png" width="600" alt="Image 1"></b-img>
                    </b-col>
                </b-row>
                <b-row class="m-4">
                        <router-link class="btn btn-success mt-4 float-left" to="/danos">Atrás</router-link>
                        <router-link class="btn btn-success mt-4 float-right" to="/correo">Siguiente</router-link>
                </b-row>
            </div>
        </section>
       
    </div>
  
</script>