<script type="text/x-template" id="ventas-template">
    
    <div>
        <section class="m-4"> 
            <div class="container">
                <b-row class="m-4">
                    <h2>Módulo Ventas</h2>
                    <p>
                        Módulo creado para realizar el seguimiento de próximo prospectos de ventas.
                    </p>
                    <p>
                        Las tecnologías utilizadas fueron: Jquery, Datatable, PHP, Highcharts y MySQL.
                    </p>
                    <p>
                        Su funcionalidad es en base a estatus asignados y dependiento el estatus es el seguimiento que se le da al próspecto. Tiene que pasar 
                        por dichos estatus para después de eso asignarlo como cliente al sistema. El módulo esta contecto con el sistema de actividades. 
                    </p>
                
                    <P>
                        A continuación se agregan un conjunto de imágenes:
                    </P>
                </b-row>
                <b-row class="m-4">

                    <b-carousel
                    id="carousel-1"
                    v-model="slide"
                    :interval="4000"
                    controls
                    indicators
                    background="#ffffff"
                    img-width="900"
                    img-height="900"
                    style="text-shadow: 1px 1px 2px #333;"
                    @sliding-start="onSlideStart"
                    @sliding-end="onSlideEnd">
                    
                    <b-carousel-slide>
                
                        <img
                        slot="img"
                        width="100%"
                        height="900px"
                        src="/images/ventas1.png"
                        alt="alta1">
        
                    </b-carousel-slide>
        
                    <b-carousel-slide>
            
                        <img
                        slot="img"
                        width="100%"
                        height="900px"
                        src="/images/ventas2.png"
                        alt="alta2">
                    </b-carousel-slide>    
            
                    </b-carousel>
                </b-row>
                <b-row class="m-4">
                        <router-link class="btn btn-success mt-4 float-left" to="/calixe2">Atrás</router-link>
                        <router-link class="btn btn-success mt-4 float-right" to="/danos">Siguiente</router-link>
                </b-row>

            </div>
      
        </section>
       
    </div>
  
</script>